<!-- app/views/users/new.html.erb -->
<div class="form">
  <ul class="form-outer">
    <%= form_with model: @user, url: registration_path do |f| %>
      <li>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </li>

      <li>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </li>

      <li>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </li>

      <li>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </li>

      <li>
        <%= f.label "Confirm Password" %>
        <%= f.password_field :password_confirmation %>
      </li>

      <li>
        <%= f.submit "Submit" %>
      </li>
    <% end %>
  </ul>
</div>
