<!-- app/views/users/new.html.erb -->
<div class="form">
  <ul class="form-outer">
    <%= form_with model: @user, url: registration_path do |f| %>
      <li>
        <%= f.text_field :first_name, placeholder: "First name" %>
      </li>

      <li>
        <%= f.text_field :last_name, placeholder: "Last name" %>
      </li>

      <li>
        <%= f.email_field :email, placeholder: "Email address" %>
      </li>

      <li>
        <%= f.password_field :password, placeholder: "Password" %>
      </li>

      <li>
        <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
      </li>

      <li>
        <div class="submit-button">
          <%= f.submit "Submit" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
